__history
__recovery
*.~*

*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.vlb
*.stat
*.dcu
Packages/Win32
Packages/Win64
GetItPackage/Toolbar2000-2.2.3.zip
GetItPackage/LICENSE.txt